{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold">Total Cost + USD. 70  = {{totalcost}}</p>
    <small>(USD. 70 Delivery Charge)</small> <hr>
    <a href="https://www.narakathegame.com/news/update/useragreement.html" target="_blank" style="color: blue; text-decoration: underline; font-size: 18px; font-weight: bold;">Term and Condition</a>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
    {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}}- {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}" checked>
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{ forloop.counter }} </label>
        </div>
      {% endfor %}
        <div class="border p-3">
          <p class="fw-bold">Payment Options:</p>
          <button type="submit" class="btn btn-warning mb-3 px-4 fw-bold" id="cod-btn">Ship COD (Cash on Delivery - Pay When You Receive Your Order)</button>
          <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}

{% block payment-gateway %} 
 <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AWBXLthqdGdT-SeS3vtBCmcXEcQdYF425cIsbanESrNOSHuMIM1GbC9sWJuoGUmejW3VHKcGdu9MiCT2&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalcost}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementById("myform").submit()
                });
            }


        }).render('#paypal-button-container');
    </script>

{% endblock payment-gateway %}

{% block codpayment %}
<script>
    document.getElementById("cod-btn").addEventListener("click", function() {
        document.getElementById("myform").submit();
    });
</script>
{% endblock codpayment %}